VD1_PORT=8081
VD2_PORT=8082
VD3_PORT=8083
VD1_DB_URL=jdbc:sqlserver://localhost:1433;databaseName=security_vd1;encrypt=true;trustServerCertificate=true
VD2_DB_URL=jdbc:sqlserver://localhost:1433;databaseName=security_vd2;encrypt=true;trustServerCertificate=true
VD3_DB_URL=jdbc:sqlserver://localhost:1433;databaseName=security_vd3;encrypt=true;trustServerCertificate=true
DB_USERNAME=sa
DB_PASSWORD=
DDL_AUTO=update
SEED_DATA=true
MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USERNAME=
MAIL_PASSWORD=
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
